@model Turnos.Models.Paciente
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear Pacientes</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />    
    <link rel="stylesheet" href="~/css/site.css" />    
    <link type="text/css" rel="stylesheet" href="~/css/materialize.min.css"  media="screen,projection"/>
    <script type="text/javascript" src="~/js/materialize.min.js"></script>
</head>
<body>
<h4>Paciente</h4>
<hr />
<div class="row">
    <div>
        <form class="col s12" asp-action="Create">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">account_circle</i>
                    <input asp-for="Nombre" type="text" class="validate">
                    <label asp-for="Nombre"></label>
                    <span asp-validation-for="Nombre" ></span>
                </div>
                <div class="input-field col s6">                    
                    <input asp-for="Apellido" type="text" class="validate">
                    <label asp-for="Apellido"></label>
                    <span asp-validation-for="Apellido" ></span>
                </div>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">markunread_mailbox</i>
                <input asp-for="Direccion" type="text" class="validate">
                <label asp-for="Direccion"></label>
                <span asp-validation-for="Direccion" ></span>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">phone</i>
                <input asp-for="Telefono" type="tel" class="validate">
                <label asp-for="Telefono"></label>
                <span asp-validation-for="Telefono" ></span>
            </div>    
            <div class="input-field col s12">
                <i class="material-icons prefix">local_post_office</i>
                <input asp-for="Email" type="tel" class="validate">
                <label asp-for="Email"></label>
                <span asp-validation-for="Email" ></span>
            </div> 
            <div class="row">
                <div class="col s6 m6">
                    <button class="btn waves-effect waves-light cyan accent-4" type="submit" name="action">Grabar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                <div class="col s6 m6">
                    <a class="waves-effect waves-light btn grey darken-4" asp-action="Index"><i class="material-icons left">undo</i>Volver</a>                    
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
